
<h1>
<%= current_user.email %> Account</h1>
<h3>your Current Balance is : $ <%= current_user.balance %></h3> <a href="/deposits/new" >Deposit</a>  <a href="/withdraws/new" >Withdraw</a>
<a href="/transfers/new" >Transfer</a>
<h5> Your Deposits </h5>
    <% current_user.deposits.reverse.each do |element| %>

you Deposited $<%= element.amount %>  <%= element.created_at %></br>
	
<% end %>
<h5> Your Withdrawals </h5>
    <% current_user.withdraws.reverse.each do |element| %>

you have Withdrawn $<%= element.amount %>  <%= element.created_at %></br>
	
<% end %>

<h5> Your sent Transfers </h5>
    <% current_user.sent_transfers.reverse.each do |element| %>
 <%if element.receiver!=nil %>
you Transfered $<%= element.amount %> to <%= element.receiver[:email] %> <%= element.created_at %></br>
	
	<% end %>
<% end %>
<h5> Your received Transfers </h5>
    <% current_user.received_transfers.reverse.each do |element| %>
 <%if element.sender!=nil %>
you received $<%= element.amount %> from <%= element.sender[:email] %> <%= element.created_at %></br>
	
	<% end %>
<% end %>
