<h1>Deposit</h1>
<%= form_for :withdraw, url: withdraws_path do |f| %> 
 <p>
    <%= f.label :amount %><br>
	<input type="text" name="withdraw[amount]" />
    
  </p>
 
 
 
  <p>
    <%= f.submit "Withdraw Amount" %>
  </p>
<% end %>
