<h1>Deposit</h1>
<%= form_for :deposit, url: deposits_path do |f| %> 
 <p>
    <%= f.label :amount %><br>
	<input type="text" name="deposit[amount]" />
    
  </p>
 
 
 
  <p>
    <%= f.submit "Deposit Amount" %>
  </p>
<% end %>
