<h1>New Transfer</h1>
<%= form_for :transfer, url: transfers_path do |f| %>  <p>
    <%= f.label :amount %><br>
	<input type="text" name="transfer[amount]" />
    
  </p>
 
  <p>
    <%= f.label :receiver %><br>	
<%= f.collection_select( :receiver_id, User.where("id NOT IN (?)", [current_user.id]), :id, :email) %>
  </p>
 
  <p>
    <%= f.submit "Transfer" %>
  </p>
<% end %>
